popover {
  top: 80px;
  left: 940px;
  ion-popover-view {
    height: auto !important;
  }
  .text-center {
    text-align: center;
  }
  .pop-header {
    color: #007ac2;
  }
  .block {
    display: block;
  }
}

ion-popover.popover-profile {
  top: 60px;
  left: -95px;
  height: auto;
  .popover-content {
    padding: 5px;
  }
}
