<div class="modal">
    <a class="fancybox-close" href="javascript:void(0)" (click)="close()"></a>

    <h1 class="modal-title">
        {{ caption }}
    </h1>

    <div class="modal-body">
        <p class="display">{{ number | number }}</p>
        <ion-grid *ngIf="style == 'full'" class="full">
            <ion-row class="portrait">
                <ion-col col-3 text-center *ngFor="let key of buttonArray.portrait">
                    <button type="button" ion-button color="light" (click)="calculator(key)">
                        <span *ngIf="key != '<'">{{ key }}</span>
                        <i *ngIf="key == '<'" class="icon-ion-backspace-outline"></i>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="landscape">
                <ion-col col-2 text-center *ngFor="let key of buttonArray.landscape">
                    <button type="button" ion-button color="light" (click)="calculator(key)">
                        <span *ngIf="key != '<'">{{ key }}</span>
                        <i *ngIf="key == '<'" class="icon-ion-backspace-outline"></i>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="style == 'mini'" class="mini">
            <ion-row class="portrait">
                <ion-col col-4 text-center *ngFor="let key of buttonMiniArray.portrait">
                    <button type="button" ion-button color="light" (click)="calculator(key)">
                        <span *ngIf="key != '<'">{{ key }}</span>
                        <i *ngIf="key == '<'" class="icon-ion-backspace-outline"></i>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="landscape">
                <ion-col col-2 text-center *ngFor="let key of buttonMiniArray.landscape">
                    <button type="button" ion-button color="light" (click)="calculator(key)">
                        <span *ngIf="key != '<'">{{ key }}</span>
                        <i *ngIf="key == '<'" class="icon-ion-backspace-outline"></i>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="modal-footer">
        <button class="btn-style3 btn-style-m" (click)="submit()">
          <span>ตกลง</span>
        </button>
    </div>
</div>