<ion-content>
    <div class="modal">
        <i class="close" (click)="close()"></i>
        <h1 class="modal-title">ลงลายมือชื่อ ใบคำขอเอาประกันภัย ยูนิตลิงค์</h1>
        <div class="popup popup-style1">
            <div class="boxNewUpdate">
                <div class="scrollbar-inner">
                    <h3 class="indent40 c-blue"> ข้อตกลงการส่งใบคำขอประกันภัย กับทางบริษัท</h3>
                    <div class="pdlr20 mgb10">
                        ข้อความยืนยันถ้อยแถลงหรือคำตอบในใบคำขอเอาประกันภัยของผู้เอาประกันภัย การให้ถ้อยคำ การมอบอำนาจ และการให้ความยินยอม
                    </div>
                    <div class="pdlr20 mgb10">
                        ก. ข้าพเจ้าขอยืนยันว่าคำตอบทุกข้อในใบคำขอเอาประกันชีวิตนี้ รวมถึงถ้อยแถลงที่ได้ตอบกับแพทย์ผู้ตรวจสุขภาพเป็นจริงทุกประการ ซึ่งข้าพเจ้าเข้าใจดีว่าหากข้าพเจ้าไม่แถลงข้อความจริง บริษัทอาจจะปฏิเสธการรับประกันภัยและปฏิเสธการจ่ายเงินตามกรมธรรม์
                    </div>
                    <div class="pdlr20 mgb10">
                        ข. ข้าพเจ้ายินยอมให้แพทย์หรือบริษัทประกันภัยอื่น หรือสถานพยาบาล ซึ่งมีประวัติสุขภาพของข้าพเจ้าที่ผ่านมาหรือจะขึ้นต่อไปในอนาคตเปิดเผยข้อเท็จจริงให้แก่บริษัทฯ หรือผู้แทนของบริษัทฯ เพื่อการขอเอาประกันภัยหรือการจ่ายเงินตามกรมธรรม์ฯได้
                    </div>
                    <div class="pdlr20 mgb10">
                        ค. ข้าพเจ้ายินยอมให้บริษัทฯ จัดเก็บใช้ และเปิดเผย ข้อเท็จจริงเกี่ยวกับสุขภาพและข้อมูลของข้าพเจ้าต่อบริษัทประกันภัยหรือหน่วยงานที่มีอำนาจตามกฏหมายหรือบุคลากรทางการแพทย์ เพื่อการขอเอาประกันภัยหรือการจ่ายเงินตามกรมธรรม์ หรือประโยชน์ทางการแพทย์ได้
                    </div>
                    <div class="pdlr20 mgb10">
                        ง. ข้าพเจ้ายินยอมให้บริษัทฯ จัดเก็บใช้ และเปิดเผยข้อเท็จจริงเกี่ยวกับสุขภาพและข้อมูลของข้าพเจ้าต่อสำนักงานคณะกรรมการกำกับและส่งเสริมการประกอบธุรกิจประกันภัย เพื่อประโยชน์ในการกำกับดูแลธุรกิจประกันภัย
                    </div>
                    <div class="pdlr20 c-red indent15 mgb10">หากท่านยกเลิกกรมธรรม์ประกันภัยก่อนครบกำหนดสัญญา ผลประโยชน์ที่ท่านได้รับจะเป็นไปตามตารางมูลค่าเงินเวนคืนในกรรม์ประกันภัย (ถ้ามี) ซึ่งอาจน้อยกว่าจำนวนเงินเอาประกันภัยที่กำหนดไว้</div>
                    <div class="pdlr20 c-red mgb10">ก่อนลงลายมือชื่อให้ท่านกรุณาตรวจสอบความถูกต้องของคำตอบทุกข้ออีกครั้งหนึ่ง เพื่อความสมบูรณ์ของสัญญาณประกันภัย</div>
                    <div class="pdlr20 indent15 mgb10">ข้าพเจ้าขอยืนยันว่าได้ตรวจสอบข้อมูลอย่างถูกต้องและสมบูรณ์แล้วบนใบคำขออิเล็กทรอนิกส์นี้ </div>

                    <div class="txt-center">
                        <div class="inline_block pdb10 pdr20">
                            <input id="agree" name="agree" class="check-style3" type="checkbox" [(ngModel)]="agreeAccept">
                            <label for="agree" class="c-blue">ยอมรับ</label>
                        </div>
                    </div>

                    <!--<ion-item class="item-checkbox">
                        <ion-label class="c-blue">ยอมรับ</ion-label>
                        <ion-checkbox [(ngModel)]="agreeAccept"></ion-checkbox>
                    </ion-item> -->
                    <div class="txt-right padding-r20">
                        <button class="btn-style3 btn-style-m pos-icon-right" type="button" [attr.disabled]="agreeAccept?null:'disabled'" (click)="next()">
                            <span>ถัดไป
                                <i class="icon-ios-arrow-forward"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div id="footer">
        <div id="Footer_la_address">
            สงวนสิทธิ์โดย บริษัท ไทยประกันชีวิต จำกัด &#40;มหาชน&#41;
            <br> 123 ถนนรัชดาภิเษก ดินแดง กรุงเทพฯ 10400 โทร. 02 247 0247
        </div>
    </div>
</ion-footer>