address {
    &.ng-dirty.ng-invalid>.form-control {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        border-color: #cc0000 !important;
    }
    &:focus>.form-control {
        border-color: #66afe9 !important;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    font-style: normal;
    .address-auto-complete {
        // width: 100%;
        // position: absolute;
        // z-index: 16;
        // border: 1px solid #b9b9b9;
        // max-height: 193px;
        // overflow-x: hidden;
        // overflow-y: auto;
        display: block;
        width: 100%;
        height: auto;
        max-height: 160px;
        overflow: auto;
        position: absolute;
        left: 0px;
        top: 100%;
        margin-top: 1px;
        background: #EEF7FB;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        z-index: 16;
        .address-auto-complete-list {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                // border-bottom: 1px solid #b9b9b9;
                // padding-left: 3px;
                // background: white;
                display: block;
                position: relative;
                padding: 7px 40px 7px 20px;
                color: #666;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    background-color: #fff;
                    color: #0082C8;
                    opacity: .7;
                }
                // &.active {
                //     background-color: #117cd0;
                //     color: #fff;
                // }
            }
        }
        &hide {
            display: none;
        }
    }
}