page-result-ulink-e-app {
    .divHead {
        background: #29ABE7;
        color: #ffff;
    }
    .fontHead {
        font-size: $font-lg;
        font-weight: bold;
    }
    .font25 {
        font-size: $font-md;
    }
}