page-universal-life {
    .insurance {
        background-color: #bd0202;
        .insuranceSum {
            text-align: center;
            width: 100%;
        }
    }
    .prev {
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 25px;
    }
    .next {
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 25px;
    }
}