page-tlprompt-mode {
    .boxFormLogin {
        max-width: $screen-xs-max;
        width: 100% !important;
        h2 {
            border-bottom: 1px solid $color-primary;
            font-size: $font-xxl !important;
            color: $color-primary;
            text-align: center;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        p {
            font-size: $font-md;
            font-style: italic;
            text-align: center;
        }
    }
    .container {
        button {
            margin: 20px auto;
            padding: 15px 0px;
            display: block;
            width: 230px;
            line-height: 30px;
            height: 85px;
            span {
                font-size: $font-lg;
            }
        }
    }
    #login_page {
        .txt1 {
            font-size: $font-md;
            color: $color-primary !important;
            span {
                color: $color-danger !important;
            }
        }
        .txt2 {
            font-size: $font-xs !important;
        }
    }
}