<div class="modal">
    <i class="close" (click)="close()"></i>

    <h1 class="modal-title">
        คำยินยอมและตกลง
    </h1>

    <div class="popup popup-style1">
        <div class="boxNewUpdate">
            <div class="scrollbar-inner">
                <div class="oneNew">
                    <span class="tab"></span>ข้าพเจ้ารับทราบว่า บริษัท ไทยประกันชีวิต จำกัด (มหาชน) “บริษัท” อาจมีข้อผูกพันหรือต้องปฏิบัติตามกฎหมาย FATCA ในการนี้ ข้าพเจ้ายินยอม และตกลง ให้บริษัทสามารถดำเนินการอย่างหนึ่งอย่างใดดังต่อไปนี้ เพื่อปฏิบัติ
                    ตามกฎหมาย FATCA
                    <br />1. การเปิดเผยข้อมูล การให้ข้อมูล และการแจ้งเปลี่ยนสถานะหรือข้อมูล
                    <br /><span class="tab"></span>ข้าพเจ้ายินยอมและตกลงให้บริษัทเปิดเผยข้อมูลใดๆ ที่บริษัทมีหน้าที่ ต้องเปิดเผยต่อหน่วยงานภาครัฐในประเทศหรือต่างประเทศที่กำกับดูแลการปฏิบัติตามกฎหมาย FATCA ข้าพเจ้ายินยอมและตกลงให้ข้อมูลเพิ่มเติมตามที่บริษัทร้องขอเป็นหนังสือภายในระยะเวลาที่กำหนด
                    <br /><span class="tab"></span>ข้าพเจ้าตกลงที่จะแจ้ง ให้บริษัททราบเกี่ยวกับกรณีมีการเปลี่ยนแปลงสถานะหรือข้อมูลใดๆ ที่ข้าพเจ้าเคยแจ้งไว้กับบริษัทไว้ก่อนหน้านี้ หากสถานะหรือข้อมูลที่เปลี่ยนแปลงนั้นมีความเกี่ยวข้องกับประเทศสหรัฐอเมริกา
                    ภายในระยะเวลา 30 วันนับตั้งแต่วันที่มีการเปลี่ยนสถานะหรือข้อมูล
                    <br />2. ผลของการไม่ให้ข้อมูล
                    <br /><span class="tab"></span>ในกรณีที่ข้าพเจ้าไม่ให้ข้อมูล ข้าพเจ้ายินยอมและตกลงให้สิทธิบริษัทปฏิเสธการรับประกันภัย หรือหักภาษี ณ ที่จ่ายจำนวนเงินใดๆ ที่ข้าพเจ้ามีสิทธิได้รับตามกรมธรรม์ประกันตามที่กำหนดไว้ในกฎหมาย FATCA
                    <br /><span class="tab"></span>ในกรณีที่บริษัทจะปฏิเสธการรับประกันภัย หรือใช้สิทธิหักภาษี ณ ที่จ่ายตามกฎหมาย FATCA จากเหตุไม่ให้ข้อมูลตามกฎหมาย FATCA บริษัทต้องส่งหนังสือบอกกล่าวก่อนว่า ให้ข้าพเจ้าแสดงเอกสารหลักฐานใดๆ หรือมีหนังสือยืนยันต่อบริษัทว่าข้าพเจ้าไม่มีหน้าที่ต้องเสียภาษีในประเทศสหรัฐอเมริกาภายในระยะเวลา
                    30 วันนับแต่วันที่ได้รับหนังสือบอกกล่าว ถ้าข้าพเจ้าไม่ปฏิบัติตามคำบอกกล่าว บริษัทจะปฏิเสธการรับประกันภัย หรือใช้สิทธิหักภาษี ณ ที่จ่ายจากจำนวนเงินใดๆ ที่ข้าพเจ้ามีสิทธิได้รับตามกรมธรรม์ประกันภัยตามที่กำหนดไว้ในกฎหมาย FATCA ก็ได้ ทั้งนี้
                    การส่งหนังสือแจ้งการปฏิเสธการรับประกันภัย หรือใช้สิทธิหักภาษี ณ ที่จ่าย และการบอกกล่าวดังกล่าว บริษัทจะส่งทางไปรษณีย์ลงทะเบียนถึงข้าพเจ้าแจ้งให้บริษัททราบ
                    <div class="pdb20 pdt20 textBlue center">
                        <div class="inline_block pdb10 pdt5 pdl100 txt-center">
                            <input id="agreementFATCA" name="agreementFATCA" [(ngModel)]="agreementFATCA" class="check-style3" type="checkbox">
                            <label class="c-blue" for="agreementFATCA" style="font-size: 30px;">ข้าพเจ้ายินยอมและยอมรับข้อตกลงตามเงื่อนไข เพื่อปฏิบัติตามกฎหมาย FATCA</label>
                        </div>
                    </div>
                    <p class="txt-center mg0">
                        <button id="fatcaPopupSubmit" class="btn-style3" type="button" (click)="close()"><span>ยอมรับ</span></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>