popup-prospect-add {
    .container-fluid {
        display: flex; /* or inline-flex */
        justify-content: center;
    }
    .popup-style1 {
        height: 100%;
        width: unset !important;
        border-radius: 0px;
        .boxNewUpdate {
            margin: 0px;
            height: 100%;
            padding-bottom: 50px;
            .scrollbar-inner {
                height: 100%
            }
        }
    }
}