<ion-content>
    <div class="modal">
        <i class="close" (click)="close()"></i>
        <h1 class="modal-title">กรุณาอ่าน</h1>
        <div class="popup popup-style1">
            <div class="boxNewUpdate">
                <div class="scrollbar-inner">
                    <div class="text-indent">
                        เพื่อสิทธิประโยชน์สูงสุดของท่าน ควรถือกรมธรรม์จนครบกำหนดสัญญา และผลประโยชน์ที่ได้รับจากกรมธรรม์ประกันชีวิต จะไม่มีการหักภาษีใดๆ ทั้งสิ้น และเป็นเงินปลอดหนี้ เจ้าหนี้ไม่มีสิทธิ์ยึดได้ ยกเว้นเท่าจำนวนเบี้ยประกันภัยที่จ่ายไปเท่านั้น
                    </div>
                    <div class="text-indent">
                        การนำส่งเบี้ยประกันภัยเป็นหน้าที่ของผู้เอาประกันภัย การที่ตัวแทนประกันชีวิตเก็บเบี้ยประกันภัยเป็นการให้บริการเท่านั้น โดยท่านสามารถชำระเบี้ยประกันภัยงวดต่อไปผ่านช่องทางต่างๆ เช่น สาขา, ที่ทำการไปรษณีย์, เคาน์เตอร์เซอร์วิส, ธนาคาร ฯลฯ หรือศึกษาข้อมูลเพิ่มเติมได้จากคู่มือผู้เอาประกันภัย
                    </div>
                    <div class="text-indent">
                        ท่านควรศึกษาข้อมูลก่อนการตัดสินใจ อีกทั้งต้องแถลงข้อมูลตามความเป็นจริงในเอกสารขอเอาประกันภัย เพื่อผลประโยชน์สุงสุดของท่านควรศึกษาข้อมูลก่อนการตัดสินใจ อีกทั้งต้องแถลงข้อมูลตามความเป็นจริงในเอกสารขอเอาประกันภัย เพื่อผลประโยชน์สูงสุดของท่าน
                    </div>
                    <div class="text-indent">
                        “เอกสารนี้เป็นเพียงการสรุปผลประโยชน์โดยสังเขป และขอสงวนสิทธิ์ในการพิจารณารับประกันตามหลักเกณฑ์ของบริษัทฯ ทั้งนี้เงื่อนไขและความคุ้มครองอย่างสมบูรณ์จะถูกระบุอยู่ในกรมธรรม์ที่ท่านซื้อไว้เท่านั้น”
                    </div>
                    <div class="danger txt-center">ข้าพเจ้าได้อ่านและทำความเข้าใจตลอดจนศึกษาข้อมูล รายละเอียดต่างๆ ซึ่งมีทั้งหมด {{pageTotal}} หน้า ครบถ้วน ตามที่ระบุในเอกสารเรียบร้อยแล้ว</div>
                    <ion-item class="item-checkbox">
                        <ion-label class="c-blue">ยอมรับ</ion-label>
                        <ion-checkbox [(ngModel)]="chkbox"></ion-checkbox>
                    </ion-item>
                    <div class="txt-right padding-r20">
                        <button class="btn-style3 btn-style-m pos-icon-right" type="button" [disabled]="!chkbox" (click)="next()">
              <span>ถัดไป
                <i class="icon-ios-arrow-forward"></i>
              </span>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div id="footer">
        <div id="Footer_la_address">
            สงวนสิทธิ์โดย บริษัท ไทยประกันชีวิต จำกัด &#40;มหาชน&#41;
            <br> 123 ถนนรัชดาภิเษก ดินแดง กรุงเทพฯ 10400 โทร. 02 247 0247
        </div>
    </div>
</ion-footer>