page-pc60 {
    ion-select button {
        border: 1px solid rgb(200, 200, 200);
        border-radius: 0px;
    }
    @media screen and (max-width: $screen-sm-max) {
        .boxListJumpContent .oneJumpContent {
            padding-top: 20px;
        }
    }
    @media screen and (max-width: $screen-lg-max) and (min-width: $screen-lg-min) {
        steps .boxStatusStep .oneStep a span {
            margin: 0px 45px;
            width: 110px;
        }
    }
}