data-table {
    $color-blue: #28ABE6;
    .table-responsive {
        overflow-x: auto;
    }
    .mat-table {
        border-bottom: 1px solid #BAD6EB;
        display: table;
        width: 100%
    }
    &[scroll-xl] {
        .mat-table {
            min-width: $screen-xl-min;
        }
    }
    &[scroll-lg] {
        .mat-table {
            min-width: $screen-lg-min;
        }
    }
    &[scroll-md] {
        .mat-table {
            min-width: $screen-md-min;
        }
    }
    &[scroll-sm] {
        .mat-table {
            min-width: $screen-sm-min;
        }
    }
    &[scroll-sx] {
        .mat-table {
            min-width: $screen-xs-max;
        }
    }
    .mat-row {
        border: 0px;
        &:nth-child(even) {
            background-color: #fff;
        }
        &:nth-child(odd) {
            background-color: #f5f5f5;
        }
    }
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    mat-header-row {
        background-color: $color-blue;
        color: #ffffff;
    }
    .cdk-visually-hidden {
        display: none;
    }
    .mat-sort-header-arrow {
        margin-top: 7px;
        //background-color: #fff;
        //padding: 2px;
        .mat-sort-header-stem {
            //color: $color-blue;
            //height: 6px;
            //margin-top: 2px;
        }
        .mat-sort-header-indicator {
            //top: 2px;
            .mat-sort-header-pointer-left,
            .mat-sort-header-pointer-right,
            .mat-sort-header-pointer-middle {
                //color: $color-blue;
            }
        }
    }
    .mat-paginator-page-size-label {
        display: none;
    }
    .mat-sort-header-button {
        opacity: 1;
    }
    .hide-content-mat-paginator {
        display: none;
    }
    .page-container {
        padding-top: 10px;
        text-align: right;
    }
    .page-container2 {
        padding-top: 10px;
        padding-left: 0px;
    }
    .select-text {
        min-width: 20px;
        color: #666;
    }
    ion-select {
        max-width: 100%;
        width: 60px;
        border: 1px solid #BDCBD3;
        height: 40px;
    }
    .select-ios {
        padding: 5px 8px 11px 16px;
    }
    .select-icon-inner {
        margin-left: -7px;
    }
    .item-cover {
        left: 15px;
        top: 10px;
        width: 60px;
        height: 40px;
    }
    .select-md {
        padding: 5px 7px 11px 10px;
    }
}