<!-- Generated template for the AttachFileViewModalComponent component -->
<!-- Generated template for the AttachFileEAppModalComponent component -->
<div class="modal">
  <a class="fancybox-close" href="javascript:void(0)" (click)="close()"></a>



  <div class="col-md-12 mgt22" align="center">

    <img id="pic_upload" [src]="image"  alt="pic_upload">

  </div>

  <div class="clearfix"></div>

  <div class="div-btn mgt25" align="center">
      <button class="btn-style3 btn-style-m" type="button" (click)="close()"><span> ตกลง </span></button>
  </div>

</div>
